In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./modi_data/1_4150.csv") ############

data.head()

,id,title,date,num,contents
0,28920,자폐아이 치료한다고 야외에서 찬물로 씻기는 **×이 학대인정 해라,2021-02-12,"2,348",안녕하세요 지금 42개월 남자 아이를 키우고 있는 엄마 입니다 저희 아이는 자폐진단...
1,28919,교원임용 2차시험의 공정성과 투명성,2021-02-12,421,저는 2021학년도 중등임용시험에 응시한 수험생입니다.교사가 되기 위한 목표를 향해...
2,28918,교사 임용시험. 공정한 시험 실시 및 평가를 요구합니다.,2021-02-12,"4,092",안녕하세요. 2021 중등 임용 상담(초등) 응시생입니다. '초등 임용시험 고사실의...
3,28917,어린이집 및 유치원 실시간 cctv 공개 의무 법안 요구,2021-02-12,963,울산 인천 등등 수없이 많은 보육기관 내 아동학대가 이루어지고 있습니다인천 어린이집...
4,28916,2021년 교육. 2020년과 달라야합니다.,2021-02-09,446,2020년 모두가 힘든 시기였습니다. 그러나 백년지대계인 교육이 이런 식으로 202...

In [3]:
# title, contents 모두 없는 값 삭제
data = data.dropna(subset=['title', 'contents'], how='all')
data.head()

,id,title,date,num,contents
0,28920,자폐아이 치료한다고 야외에서 찬물로 씻기는 **×이 학대인정 해라,2021-02-12,"2,348",안녕하세요 지금 42개월 남자 아이를 키우고 있는 엄마 입니다 저희 아이는 자폐진단...
1,28919,교원임용 2차시험의 공정성과 투명성,2021-02-12,421,저는 2021학년도 중등임용시험에 응시한 수험생입니다.교사가 되기 위한 목표를 향해...
2,28918,교사 임용시험. 공정한 시험 실시 및 평가를 요구합니다.,2021-02-12,"4,092",안녕하세요. 2021 중등 임용 상담(초등) 응시생입니다. '초등 임용시험 고사실의...
3,28917,어린이집 및 유치원 실시간 cctv 공개 의무 법안 요구,2021-02-12,963,울산 인천 등등 수없이 많은 보육기관 내 아동학대가 이루어지고 있습니다인천 어린이집...
4,28916,2021년 교육. 2020년과 달라야합니다.,2021-02-09,446,2020년 모두가 힘든 시기였습니다. 그러나 백년지대계인 교육이 이런 식으로 202...

In [4]:
data.shape

(28482, 5)

In [5]:
filtered_data = data.drop(columns=['id', 'date', 'num'])
filtered_data = filtered_data.fillna(' ') #공백으로 바꾸기
filtered_data.head()

,title,contents
0,자폐아이 치료한다고 야외에서 찬물로 씻기는 **×이 학대인정 해라,안녕하세요 지금 42개월 남자 아이를 키우고 있는 엄마 입니다 저희 아이는 자폐진단...
1,교원임용 2차시험의 공정성과 투명성,저는 2021학년도 중등임용시험에 응시한 수험생입니다.교사가 되기 위한 목표를 향해...
2,교사 임용시험. 공정한 시험 실시 및 평가를 요구합니다.,안녕하세요. 2021 중등 임용 상담(초등) 응시생입니다. '초등 임용시험 고사실의...
3,어린이집 및 유치원 실시간 cctv 공개 의무 법안 요구,울산 인천 등등 수없이 많은 보육기관 내 아동학대가 이루어지고 있습니다인천 어린이집...
4,2021년 교육. 2020년과 달라야합니다.,2020년 모두가 힘든 시기였습니다. 그러나 백년지대계인 교육이 이런 식으로 202...

In [6]:
# title + contents
final_data = data.drop(columns=['contents'])
final_data['full_data'] = filtered_data['title'] + " " + filtered_data['contents']

final_data.head()

,id,title,date,num,full_data
0,28920,자폐아이 치료한다고 야외에서 찬물로 씻기는 **×이 학대인정 해라,2021-02-12,"2,348",자폐아이 치료한다고 야외에서 찬물로 씻기는 **×이 학대인정 해라 안녕하세요 지금 ...
1,28919,교원임용 2차시험의 공정성과 투명성,2021-02-12,421,교원임용 2차시험의 공정성과 투명성 저는 2021학년도 중등임용시험에 응시한 수험생...
2,28918,교사 임용시험. 공정한 시험 실시 및 평가를 요구합니다.,2021-02-12,"4,092",교사 임용시험. 공정한 시험 실시 및 평가를 요구합니다. 안녕하세요. 2021 중등...
3,28917,어린이집 및 유치원 실시간 cctv 공개 의무 법안 요구,2021-02-12,963,어린이집 및 유치원 실시간 cctv 공개 의무 법안 요구 울산 인천 등등 수없이 많...
4,28916,2021년 교육. 2020년과 달라야합니다.,2021-02-09,446,2021년 교육. 2020년과 달라야합니다. 2020년 모두가 힘든 시기였습니다. ...

In [7]:
final_data = final_data.reset_index(drop = True)
final_data.head()

,id,title,date,num,full_data
0,28920,자폐아이 치료한다고 야외에서 찬물로 씻기는 **×이 학대인정 해라,2021-02-12,"2,348",자폐아이 치료한다고 야외에서 찬물로 씻기는 **×이 학대인정 해라 안녕하세요 지금 ...
1,28919,교원임용 2차시험의 공정성과 투명성,2021-02-12,421,교원임용 2차시험의 공정성과 투명성 저는 2021학년도 중등임용시험에 응시한 수험생...
2,28918,교사 임용시험. 공정한 시험 실시 및 평가를 요구합니다.,2021-02-12,"4,092",교사 임용시험. 공정한 시험 실시 및 평가를 요구합니다. 안녕하세요. 2021 중등...
3,28917,어린이집 및 유치원 실시간 cctv 공개 의무 법안 요구,2021-02-12,963,어린이집 및 유치원 실시간 cctv 공개 의무 법안 요구 울산 인천 등등 수없이 많...
4,28916,2021년 교육. 2020년과 달라야합니다.,2021-02-09,446,2021년 교육. 2020년과 달라야합니다. 2020년 모두가 힘든 시기였습니다. ...

In [8]:
final_data.shape

(28482, 5)

In [9]:
final_data.to_csv('./modi_data/full_data.csv', index=False)

In [10]:
# 연도별 저장
df = pd.DataFrame()

for i in range(2017, 2022):
    for j in range(28482):
        date = final_data.loc[j, 'date']
        #print(date[:4]) #year
        if int(date[:4]) == i:
            df = df.append(final_data.loc[j])
            #print(final_data.loc[j])
    #if not df.empty: print(df)
    if not df.empty: df.to_csv('./modi_data/data_' + str(i) + '.csv', index=False)
    df = pd.DataFrame()
print("===finish====")

===finish====